services:

  neo4j:
    image: neo4j:5
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/12345678
      NEO4J_dbms_connector_bolt_listen__address: "0.0.0.0:7687"
      NEO4J_dbms_connector_bolt_advertised__address: "localhost:7687"
      NEO4J_dbms_connector_bolt_tls__level: "DISABLED"
    volumes:
      - neo4j_data:/data

  data-service:
    build: ./data-service
    container_name: data-service
    ports:
      - "8000:8000"
    environment:
      NEO4J_URI: bolt://neo4j:7687
      NEO4J_USER: neo4j
      NEO4J_PASSWORD: 12345678
    depends_on:
      - neo4j

  n8n:
    image: n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      N8N_BASIC_AUTH_ACTIVE: "true"
      N8N_BASIC_AUTH_USER: erarchitech@gmail.com
      N8N_BASIC_AUTH_PASSWORD: Ermolenko#^4538!
      OLLAMA_URL: http://ollama:11434
      OLLAMA_HOST: http://ollama:11434
      OLLAMA_MODEL: llama3.1-dg:latest
      NEO4J_URL: http://neo4j:7474
    depends_on:
      - data-service
      - ollama
    volumes:
      - n8n_data:/home/node/.n8n
      - ./n8n:/files

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11435:11434"
    volumes:
      - ollama:/root/.ollama
      - ./training/output/merged_hf:/merged_hf

  graph-viewer:
    build: ./graph-viewer
    container_name: graph-viewer
    ports:
      - "8080:80"
    environment:
      NEO4J_URI: bolt://localhost:7687
      NEO4J_HTTP: /neo4j
      NEO4J_USER: neo4j
      NEO4J_PASSWORD: 12345678
      N8N_WEBHOOK: /n8n/webhook/dg/rules-ingest
      N8N_QUERY_WEBHOOK: /n8n/webhook/dg/graph-query
      DATA_SERVICE_URL: /data-service
      N8N_USER: erarchitech@gmail.com
      N8N_PASSWORD: Ermolenko#^4538!
    depends_on:
      - neo4j
      - n8n

volumes:
  neo4j_data:
  n8n_data:
  ollama:
