services:

  neo4j:
    image: neo4j:5
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/12345678
    volumes:
      - neo4j_data:/data

  data-service:
    build: ./data-service
    container_name: data-service
    ports:
      - "8000:8000"
    environment:
      NEO4J_URI: bolt://neo4j:7687
      NEO4J_USER: neo4j
      NEO4J_PASSWORD: 12345678
    depends_on:
      - neo4j

  n8n:
    image: n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      N8N_BASIC_AUTH_ACTIVE: "true"
      N8N_BASIC_AUTH_USER: erarchitech@gmail.com
      N8N_BASIC_AUTH_PASSWORD: Ermolenko#^4538!
    depends_on:
      - data-service

volumes:
  neo4j_data:
